venv
phi3-mlx
adapters
new_phi3-mlx
models_cache/
adapters_gemma3/
new_gemma3/
.DS_Store
__pycache__/
gemma3-mlx
gemma3-finetunning/gemma3-mlx/*
gemma3-finetunning/gemma3f-mlx/*
gemma3-finetunning/adaptersf_gemma3/*
gemma3-finetunning/new_functiongemma3/*
